body, html {
    /* background-color: rgb(167, 167, 167); */
    font-family: 'Comic Sans MS';
    color: #000000;
    display: block;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(77, 38, 65);
    color: #dddddd;
    min-height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-shadow: 0px 3px 5px #000000;
    position: relative;
    font-size: 14px;
}

.header h1 {
    margin-left: 60px;
}

.header span {
    margin-right: 60px;
    font-size: 40px;
}

.main {
    /* background-color: rgb(167, 167, 167); */
    display: flex;
    width: 100vw;
    justify-content: center;
}

.filters {
    width: 300px;
    background-color: #009cf0;
    color: #fff;
    height: 90vh;
    position: relative;
    box-shadow: 2px 0px 3px black;
    padding: 20px;
}

.filter-tabs {
    display: flex;
    flex-direction: column;
}

.filter {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    box-shadow: 3px 3px 3px black;
}

.content {
    width:100%;
    /* display: flex; */
    justify-content: center;
}

.table-wrapper {
    /* background-color: silver; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    /* background-color:  rgb(223, 210, 222); */
}

td, th {
    padding: 3px;
    border-top: 1px solid #dddddd;
}

tr:nth-child(odd) { background-color: rgb(200, 205, 255); }

th {
    background: #009cf0;
    color: #fff;
}

.btn-tabs {
    margin: 8px 8px;
}

.btn {
    background-color: #0af;
    border-color: transparent;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #009cf0;
  }



  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal__block {
    background-color: #fff;
    padding: 0 30px 30px;
    width: 600px;
    margin: 30px;
    position: relative;
  }
  .modal__header {
    margin-bottom: 15px;
  }
  .modal__submit label {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .modal__submit input {
    margin-left: 15px;
  }
  .modal__btn-submit {
    display: block;
    margin-top: 15px;
    margin-left: auto;
  }
  .modal__btn-submit:disabled, .modal__btn-submit[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
  .modal__btn-block {
    display: flex;
    align-items: center;
  }
  .modal__description p {
    margin-top: 10px;
  }
  .modal__file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .modal__file-btn {
    line-height: 2;
    padding: 0 10px;
    text-align: center;
  }
  .modal__file-label {
    display: block !important;
  }
  .modal__file-label:hover {
    cursor: pointer;
  }
  .modal__file-label:hover span {
    background-color: #BF3F4A;
  }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 21px;
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    line-height: 24px;
  }
  .modal__close:hover {
    color: #009cf0;
  }
  
  .hide {
    display: none;
  }
